@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.planning-poker-lobby{
    display: flex;
    max-width: 1920px;
    padding: 40px;
    height: 100%;
    padding-bottom: 1rem;
    width: 100%;
    justify-content: center;
}

.planning-poker-lobby-buttons{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    
}


.planning-poker-lobby-buttons button {
    cursor: pointer;
    border: 1px solid rgb(20, 43, 19);
    background-color: rgba(58, 69, 40, 0.5);
    width: 400px;
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    color: azure;
    font-size: 50px;
}

.planning-poker-lobby-buttons button:hover{
    color: azure;
    background-color: rgba(26, 31, 18, 0.8);
    font-size: 50px;
}

.planning-poker-lobby-buttons h3{
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
}


/*DIV PAI*/


.div-lobby{
    display: none;
    justify-content: center;
    height: 100%;
}



/*BARRA LATERAL*/

.planning-poker-lobby-sidebar{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(58, 69, 40, 0.6);
    width: 600px;
    margin-left: 50px;
    border-radius: 5px;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}

.planning-poker-lobby-sidebar h1{
    text-align: center;
    width: 100%;
    font-size: 40px;
}

.planning-poker-lobby-sidebar p{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(163, 163, 163);
}

.planning-poker-lobby-sidebar img{
    width: 100px;

}

.planning-poker-lobby-sidebar-user-configurations{
    display: flex;
    align-items: center;
    gap: 15px;
    bottom: 100px;
    position: fixed;

}

#planning-poker-lobby-sidebar-adminButton{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 30px;
    gap: 8px;
}

#cardEncerrar,#eyeIcon, #refrechIcon{
    border: 1px solid rgb(37, 39, 37);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}


#cardEncerrar:hover, #eyeIcon:hover, #refrechIcon:hover{
    background-color: rgba(41, 42, 41, 0.5);
}

.btn-lobby-addStories {
    height: 100%;
    font-size: 25px;
    color: #000;
    background-color: transparent;
    top: 84%;
}

.boiolon{
    position: absolute;
    top: 74%;
}

.divisor-stories{
    background-color: #000;
    height: 2px;
    border-radius: 30px;
    position: absolute;
    top: 80%;
    width: 325px;
}


body{
    background-image: url("../images/image2.jpg");
    height: 100vh;
}

.invite-token{
    position: absolute;
    top: 82%;
    display: flex;
    gap: 5px;
    align-items: center;
}
.invite-token i{
    font-size: 20px;
    cursor: pointer;
}


/*painel de adicionar stories*/
.panel-add-stories{
    color: azure;
    text-align: center;
    background-color: rgba(58, 69, 40, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 79px;
    border-radius: 8%;
    width: 650px;
    display: flex;
    font-family: 'Exo 2', sans-serif;
    gap: 20px;
}


.insert-stories{
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.view-stories{
    display: flex;
    gap: 5px;
    font-size: 15px;
    flex-direction: column;
    max-height: 250px;
    overflow: auto;
    width: 225px;

}
.view-stories i{
    align-items: center;
    font-size: 20px ;    
    cursor: pointer;
    max-width: 2px;
}

.btn-add-stories{
    display: flex;
    gap: 8px
}

.divider {
    height: 176px;
    width: 7px;
    border-radius: 30px;
    background: #000;
}
::-webkit-scrollbar {
    width: 10px; /* largura da barra de rolagem */
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor do fundo da barra de rolagem */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888; /* cor do "thumb" (a parte arrastável) */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do "thumb" quando passa o mouse por cima */
    
}

/**/

/*DIV DADOS DA VOTAÇÃO*/

.lobby_votacao{
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 600px;
    width: 1020px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    display: none;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
   align-items: center;


}
.lobby_votacao img{
    margin-top: 50px;
    width: 200px;
    height: 30px;
    
}

.lobby_votacao h1{
    width: 100%;
    text-align: center;
}

.h1ResultsIntro{
    font-family: 'Exo 2', sans-serif;
    font-size: 44px;
}

.h1Results{
    font-family: 'Exo 2', sans-serif;
    font-size: 150px;
}

.lobby_votacao button{
    display: flex;
    border: 1px solid rgb(37, 39, 37);
    background-color: rgba(166, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    font-size: 29px;
}

.btnCloseResults:hover{
    background-color: rgba(29, 15, 15, 0.5);
    font-size: 29px;
}